@model Student

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>My first name is: @Model.FirstName</p>
    <p>My last name is: @Model.LastName</p>
    <p>My student id is: @Model.StudentId</p>
    <p>My email is: @Model.EmailAddress</p>



</div>
